body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}
h3 {
    text-align: center;
    color: #333;
}

.grupo {
    margin-bottom: 30px;
}

h2 {
    color: #555;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.bracket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.bracket {
    flex: 1;
    text-align: center;
}

.resultado {
    font-weight: bold;
}

.matchup input {
    border: none;
    background: #f4f4f4;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}
.InputGol{
    max-width: 15px;
    text-align: center;
}

.InputPR{
    padding-right: 312px;
}

.InputPL {
    padding-left: 312px;
}

 /* Estilo principal para alinhar as tabelas lado a lado */
 .tables-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as tabelas quebrem para a próxima linha */
    gap: 20px; /* Espaçamento entre as tabelas */
    justify-content: center; /* Centraliza as tabelas horizontalmente */
}

.table-group {
    width: 45%; /* Define o tamanho de cada tabela */
    min-width: 300px; /* Define um tamanho mínimo */
    margin-bottom: 20px; /* Espaçamento inferior para separar as linhas */
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

h2 {
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.match-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.team {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 10px;
}

.resultado {
    font-weight: bold;
}

.team input {
    border: none;
    background: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

h1, h3 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    justify-content: space-around; 
    
    
}