
body {
    margin: 0; 
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c6e49;
}

.playoff-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.playoff-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.final-phase .playoff-column {
    flex: 0 0 100%;
    justify-content: center;
}

.phase-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c6e49;
}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #e9f5ec;
    transition: background-color 0.3s ease;
}
.match:hover {
    background-color: #d0e8d4;
}

.match .team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    word-wrap: break-word;
}

.team input {
    border: none;
    background: none;
    text-align: left;
    font-size: 16px;
    width: 100%;
}
.team .winner {
    font-weight: bold;
    color: green;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}
.phase-title.final {
    color: #ff9f00;
}

.penalty {
    font-size: 14px;
    color: gray;
}

button {
    
    background-color: #007BFF; /* Sobrescrevendo a cor de fundo padrão */
    color: white; 
}
button:hover {
    background-color: #0056b3; 
}
button.terminar {
    background-color: #28a745; 
}
button.terminar:hover {
    background-color: #218838; 
}


.button-container {
    
    text-align: center; 
    margin-top: 20px; 
}


/* Responsividade */
@media (max-width: 768px) {
    .playoff-container {
        flex-direction: column;
        align-items: center;
    }
    .match {
        width: 80%;
    }
}